:root {
	--text: #3D3D3D;
	--text-dark: #F1F7FB;
	--bg: white;
	--bg-dark: #121E23;
	--bg-input: #F7F7F7;
	--bg-input-dark: #202E36
	--primary: white;
	--bg-primary: #39386E;
	--secondary: #E5E5E5;
	--secondary-dark: #36434C;

	--text-size: 20px;
	--text-size-mobile: 15px;
	--text-size-big: 25px;
	--text-size-big-mobile: 20px;
	--max-section-height: 55vh;
	--max-card-width: 770px;
	--border-radius: 10px;
	--border: 2px;
}

.card {
 	font-family: varela, sans-serif;
 	text-align: center;
  color: var(--text);
  background-color: var(--bg);
	margin: auto;
}

.card.nightMode {
	color: var(--text-dark);
	background-color: var(--bg-dark);
}

.container {
	max-width: var(--max-card-width);
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	padding: 0 1em;
}

header {
	color: var(--secondary);
	margin: 1em 0;
	font-size: var(--text-size);
}

.nightMode header {
	color: var(--secondary-dark);
}

.mobile header {
	margin-bottom: 1em;
	font-size: var(--text-size-mobile);
}

section {
	margin-top: 1em;
	border-radius: var(--border-radius);
	padding: 12px 24px;
	border: var(--border) solid var(--secondary);
	font-size: var(--text-size);
	min-height: 100px;
	max-height: var(--max-section-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nightMode section {
	/* var(--border) does not work here */
	border: 2px solid var(--secondary-dark);
}

.mobile section {
	font-size: var(--text-size-mobile);
}

.sound-box {
	position: absolute;
	top: 0;
	left: 0;
}

.highlight {
	/* var(--primary) does not work here */
	color: white;
	background-color: var(--bg-primary);
	border: 2px solid var(--bg-primary) !important;
	border-radius: var(--border-radius);
	padding: 16px 8px;
	width: 100%;
	margin-bottom: 1em;
}

img {
	max-height: calc(var(--max-section-height) * 0.7) !important;
	border-radius: var(--border-radius);
	margin-top: 1em;
	object-fit: contain;
}

.word {
	font-weight: bold;
	font-size: var(--text-size-big);
}

.mobile .word {
	font-size: var(--text-size-big-mobile);
}

.word-class {
	font-style: italic;
	color: var(--secondary);
}

input {
	border-radius: var(--border-radius);
	border: var(--border) solid var(--secondary);
	padding: 10px 12px;
	background-color: var(--bg-input) !important;
	color: var(--text) !important;
	outline: none;
	width: 560px !important;
}

.nightMode input {
	border: 2px solid var(--secondary-dark);
	background-color: var(--bg-input-dark) !important;
	color: var(--text-dark) !important;
}

details {
	margin-top: 1em;
	font-size: var(--text-size);
}

.mobile details {
	font-size: var(--text-size-mobile);
}

summary {
	margin-bottom: 0.5em;
}

@font-face {
	font-family: varela;
	src: url("_varela.ttf");
}
